<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Ethtags</title>
</head>

<body>
    <div id="app">
        <v-app>
            <v-toolbar app>
                <v-btn outline @click="faqDialog = true">FAQ</v-btn>
                <v-btn outline @click="aboutDialog = true">About</v-btn>
                <v-spacer></v-spacer>
                <v-btn v-if="ethtags !== null" outline @click="myDogtagDialog = true; updateMyDogtag();">My Dogtag</v-btn>
            </v-toolbar>
            <v-content>
                <v-container fluid fill-height>
                    <v-layout align-center justify-center>
                        <div class="flex-centered-80" v-if="ethtags !== null">
                            <v-text-field name="address-search" label="Ethereum Address" id="testing" :rules="[isAddress]" v-model="dogtagSearchAddress"></v-text-field>
                            <v-btn @click="searchForAddress" :disabled="!Eth.isAddress(dogtagSearchAddress)" outline>Reveal dogtag</v-btn>
                        </div>
                        <div class="flex-centered-80" v-else>
                            <p>You need metamask in order to use ethtags.</p>
                            <v-btn outline @click="openMetamask">Go to metamask.com</v-btn>
                        </div>
                    </v-layout>
                </v-container>
            </v-content>
            <v-footer app>
                <v-btn outline small @click="openGit">GitHub</v-btn>
                <v-spacer></v-spacer>
                <v-btn v-if="ethtags !== null && properties.isVerifier === true" outline small @click="verification.active = true">Verification</v-btn>
            </v-footer>

            <v-dialog v-model="aboutDialog" scrollable fullscreen hide-overlay transition="dialog-bottom-transition">
                <v-card tile>
                    <v-toolbar dense>
                        <v-btn flat icon @click="aboutDialog = false">
                            <v-icon>close</v-icon>
                        </v-btn>
                        <v-toolbar-title>About</v-toolbar-title>
                    </v-toolbar>
                    <v-layout align-start justify-center direction="column">
                        <div class="flex-centered-80">
                            <p>
                                Ethtags is a project which lets you create your own
                                <b>dogtag</b> which is attached to your address. The dogtag is always attached to the address
                                that invoked the contract, in other words your friends can not change your dogtag, if they
                                do not have full access to your wallet.
                            </p>
                            <p>
                                The dogtag itself is stored in the ethereum blockchain and the data can be accessed at any time as long as you have access
                                to the ethereum blockchain. The ethtags frontend provides a simple way to access your dogtag.
                                You can get a link to it which you can then send to anyone to check out your dogtag or you
                                can embed it as an signature anywhere where they support iframe html tag.
                            </p>
                            <p>
                                There are future plans to allow you, to get the information, specifically the name, in your dogtag verified by a trusted
                                third party, like the post office or some other third party which would be present almost
                                anywhere. These verified dogtags would be very handy when you need to send a larger amount
                                of currency to a someone else and you want to be sure that it is them.
                            </p>
                            <p>
                                Ethtags is currently maintained and developed by Jakub Tomeš a casual programmer and game developer that wanted to start
                                developing smart contracts.
                            </p>
                        </div>
                    </v-layout>
                </v-card>
            </v-dialog>

            <v-dialog v-model="faqDialog" scrollable fullscreen hide-overlay transition="dialog-bottom-transition">
                <v-card tile>
                    <v-toolbar dense>
                        <v-btn flat icon @click="faqDialog = false">
                            <v-icon>close</v-icon>
                        </v-btn>
                        <v-toolbar-title>FAQ</v-toolbar-title>
                    </v-toolbar>
                    <v-layout align-start justify-center direction="column">
                        <div class="flex-centered-80">
                            <template v-for="(item, index) in faqData">
                                <v-card v-bind:key="index" width="100%" class="margin-1rem">
                                    <v-card-title class="accent white--text">
                                        {{ item.question }}
                                    </v-card-title>
                                    <v-card-text>
                                        {{ item.answer }}
                                    </v-card-text>
                                </v-card>
                            </template>
                        </div>
                    </v-layout>
                </v-card>
            </v-dialog>

            <v-dialog v-model="myDogtagDialog" scrollable fullscreen hide-overlay transition="dialog-bottom-transition">
                <v-card tile>
                    <v-toolbar dense>
                        <v-btn flat icon @click="myDogtagDialog = false">
                            <v-icon>close</v-icon>
                        </v-btn>
                        <v-toolbar-title>My Dogtag</v-toolbar-title>
                    </v-toolbar>
                    <v-card-text>
                        <v-layout align-start justify-center direction="column">
                            <div class="flex-centered-80">
                                <v-alert type="error" :value="myDogtag.hadError">
                                    There was an error while contacting the network. Please try again later.
                                </v-alert>
                                <v-text-field label="Your name..." v-model="myDogtag.name"></v-text-field>
                                <v-text-field textarea label="Your dogtag..." v-model="myDogtag.bio"></v-text-field>
                                <v-btn outline @click="myDogtag.review = true">Confirm</v-btn>
                                <v-divider></v-divider>
                                <h2>Dogtag Style</h2>
                                <div class="flex-inline-50">
                                    <h3>Background Color</h3>
                                    <div :style="{ backgroundColor: myDogtag.bgColor }" class="colorswatch"><input type="color" v-model="myDogtag.bgColor"></div>
                                </div>
                                <div class="flex-inline-50">
                                    <h3>Text Color</h3>
                                    <div :style="{ backgroundColor: myDogtag.textColor }" class="colorswatch"><input type="color" v-model="myDogtag.textColor"></div>
                                </div>
                                <div class="flex-inline-50">
                                    <h3>Display QRCode</h3>
                                    <input type="checkbox" class="swatch-checkbox" v-model="myDogtag.displayQR">
                                </div>
                                <v-divider></v-divider>
                                <h3>Link</h3>
                                <code>{{ getLinkToDogtag }}</code>
                                <div class="flex-inline">
                                    <v-btn outline v-clipboard:copy="getLinkToDogtag">Copy to clipboard</v-btn>
                                    <v-btn outline @click="openPreview">Preview</v-btn>
                                </div>
                                <v-divider></v-divider>
                                <h3>Iframe</h3>
                                <code>{{ getIframe }}</code>
                                <v-btn outline v-clipboard:copy="getIframe">Copy to clipboard</v-btn>
                            </div>
                        </v-layout>
                    </v-card-text>
                    <v-dialog max-width="50%" v-model="myDogtag.review">
                        <v-card>
                            <v-card-title class="accent white--text">
                                Review
                            </v-card-title>
                            <v-card-text>
                                <h3>Name</h3>
                                <p>{{myDogtag.name}}</p>
                                <h3>Bio</h3>
                                <p>{{myDogtag.bio}}</p>
                                <div class="flex-inline">
                                    <v-text-field type="number" label="Donate ETH to the contract" step="0.001" v-model="myDogtag.donateAmount"></v-text-field>
                                </div>
                            </v-card-text>
                            <v-card-actions>
                                <div class="flex-inline">
                                    <v-btn color="primary" :loading="myDogtag.isBeingUpdated" :disabled="myDogtag.isBeingUpdated" @click="sendDogtagToBlockchain">Confirm</v-btn>
                                    <v-btn @click="myDogtag.review = false">Cancel</v-btn>
                                </div>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-card>
            </v-dialog>

            <v-dialog max-width="75%" v-model="dogtagPreview.active">
                <v-card>
                    <v-card-title class="accent white--text">
                        Dogtag
                    </v-card-title>
                    <v-card-text>
                        <h3>Name</h3>
                        <p v-if="dogtagPreview.isVerified">Verified</p>
                        <p>{{dogtagPreview.name}}</p>
                        <h3>Bio</h3>
                        <p>{{dogtagPreview.bio}}</p>
                    </v-card-text>
                    <v-card-actions>
                        <div class="flex-inline">
                            <v-btn @click="dogtagPreview.active = false">Close</v-btn>
                        </div>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <v-dialog max-width="75%" v-model="verification.active">
                <v-card>
                    <v-card-title class="accent white--text">
                        Verification
                    </v-card-title>
                    <v-card-text>
                        <v-stepper v-model="verification.step">
                            <v-stepper-header>
                                <v-stepper-step step="1" :complete="verification.step > 1">Enter the address</v-stepper-step>
                                <v-divider></v-divider>
                                <v-stepper-step step="2" :complete="verification.step > 2">Confirm data</v-stepper-step>
                                <v-divider></v-divider>
                                <v-stepper-step step="3" :complete="verification.step > 3">Done</v-stepper-step>
                            </v-stepper-header>
                            <v-stepper-items>
                                <v-stepper-content step="1">
                                    <v-container fluid fill-height>
                                        <v-layout align-center justify-center>
                                            <div class="flex-centered-80">
                                                <v-text-field name="address-search-verification" label="Ethereum Address" id="testing" :rules="[isAddress]" v-model="verification.address"></v-text-field>
                                            </div>
                                        </v-layout>
                                    </v-container>
                                    <v-btn color="primary" @click.native="verificationFetchData" :disabled="!Eth.isAddress(verification.address)">Continue</v-btn>
                                    <v-btn flat @click="verificationClose">Cancel</v-btn>
                                </v-stepper-content>
                                <v-stepper-content step="2">
                                    <v-card class="mb-5" height="200px">
                                        <h3>Address</h3>
                                        <p>{{verification.address}}</p>
                                        <h3>Name</h3>
                                        <p>{{verification.name}}</p>
                                        <h3>Bio</h3>
                                        <p>{{verification.bio}}</p>
                                    </v-card>
                                    <v-btn color="primary" @click.native="verificationVerify" :loading="verification.inProcess" :disabled="verification.inProcess">Continue</v-btn>
                                    <v-btn flat @click="verificationClose">Cancel</v-btn>
                                </v-stepper-content>
                                <v-stepper-content step="3">
                                    <v-card class="mb-5" height="200px">
                                        <v-container fluid fill-height>
                                            <v-layout align-center justify-center>
                                                <div class="flex-centered-80">
                                                    <v-alert v-if="verification.result" type="success" :value="true">
                                                        Address has been verified
                                                    </v-alert>
                                                    <v-alert v-else type="error" :value="true">
                                                        There was an error during verification. Please try again later or contact the administrator.
                                                    </v-alert>
                                                </div>
                                            </v-layout>
                                        </v-container>
                                    </v-card>
                                    <v-btn color="primary" @click="verificationClose">Close</v-btn>
                                </v-stepper-content>
                            </v-stepper-items>
                        </v-stepper>
                    </v-card-text>
                </v-card>
            </v-dialog>
        </v-app>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/ethjs@0.3.4/dist/ethjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script src="https://cdn.rawgit.com/Inndy/vue-clipboard2/master/dist/vue-clipboard.js"></script>
    <script>
        var eth = null;
        var contract = null;
        if (typeof window.web3 !== 'undefined' && typeof window.web3.currentProvider !== 'undefined') {
            eth = new Eth(window.web3.currentProvider);
        } else {
            console.log('Metamask not found!')
        }

        if (eth !== null) {
            const tokenABI = [{
                    "constant": false,
                    "inputs": [],
                    "name": "Donate",
                    "outputs": [],
                    "payable": true,
                    "stateMutability": "payable",
                    "type": "function"
                },
                {
                    "constant": false,
                    "inputs": [{
                            "name": "adr",
                            "type": "address"
                        },
                        {
                            "name": "status",
                            "type": "bool"
                        }
                    ],
                    "name": "SetAdminStatus",
                    "outputs": [],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "constant": false,
                    "inputs": [{
                        "name": "newContract",
                        "type": "address"
                    }],
                    "name": "setDataStorageContract",
                    "outputs": [],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "constant": false,
                    "inputs": [{
                            "name": "name",
                            "type": "string"
                        },
                        {
                            "name": "content",
                            "type": "string"
                        }
                    ],
                    "name": "SetDogtag",
                    "outputs": [],
                    "payable": true,
                    "stateMutability": "payable",
                    "type": "function"
                },
                {
                    "constant": false,
                    "inputs": [{
                        "name": "content",
                        "type": "string"
                    }],
                    "name": "SetDogtagContent",
                    "outputs": [],
                    "payable": true,
                    "stateMutability": "payable",
                    "type": "function"
                },
                {
                    "constant": false,
                    "inputs": [{
                        "name": "name",
                        "type": "string"
                    }],
                    "name": "SetDogtagName",
                    "outputs": [],
                    "payable": true,
                    "stateMutability": "payable",
                    "type": "function"
                },
                {
                    "constant": false,
                    "inputs": [{
                        "name": "adr",
                        "type": "address"
                    }],
                    "name": "SetNewOwner",
                    "outputs": [],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "constant": false,
                    "inputs": [{
                            "name": "adr",
                            "type": "address"
                        },
                        {
                            "name": "status",
                            "type": "bool"
                        }
                    ],
                    "name": "SetVerificationStatus",
                    "outputs": [],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "constant": false,
                    "inputs": [{
                            "name": "adr",
                            "type": "address"
                        },
                        {
                            "name": "status",
                            "type": "bool"
                        }
                    ],
                    "name": "SetVerifierStatus",
                    "outputs": [],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "inputs": [],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "constructor"
                },
                {
                    "constant": false,
                    "inputs": [{
                        "name": "amount",
                        "type": "uint256"
                    }],
                    "name": "Withdraw",
                    "outputs": [],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "constant": true,
                    "inputs": [],
                    "name": "GetContractBalance",
                    "outputs": [{
                        "name": "",
                        "type": "uint256"
                    }],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "constant": true,
                    "inputs": [{
                        "name": "adr",
                        "type": "address"
                    }],
                    "name": "GetDogtagContent",
                    "outputs": [{
                        "name": "",
                        "type": "string"
                    }],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "constant": true,
                    "inputs": [{
                        "name": "adr",
                        "type": "address"
                    }],
                    "name": "GetDogtagName",
                    "outputs": [{
                        "name": "",
                        "type": "string"
                    }],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "constant": true,
                    "inputs": [{
                        "name": "adr",
                        "type": "address"
                    }],
                    "name": "GetVerifier",
                    "outputs": [{
                        "name": "",
                        "type": "address"
                    }],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "constant": true,
                    "inputs": [{
                        "name": "adr",
                        "type": "address"
                    }],
                    "name": "IsAdmin",
                    "outputs": [{
                        "name": "",
                        "type": "bool"
                    }],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "constant": true,
                    "inputs": [{
                        "name": "adr",
                        "type": "address"
                    }],
                    "name": "IsOwner",
                    "outputs": [{
                        "name": "",
                        "type": "bool"
                    }],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "constant": true,
                    "inputs": [{
                        "name": "adr",
                        "type": "address"
                    }],
                    "name": "IsVerified",
                    "outputs": [{
                        "name": "",
                        "type": "bool"
                    }],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "constant": true,
                    "inputs": [{
                        "name": "adr",
                        "type": "address"
                    }],
                    "name": "IsVerifier",
                    "outputs": [{
                        "name": "",
                        "type": "bool"
                    }],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                }
            ]
            contract = eth.contract(tokenABI).at('0x5e609906562de69e5ab2ef681f71dfbba43ce7fd') //Old contract 0x0305c3463f4efd55466a4b09df63a3483da5fd00
        }

        var vue = new Vue({
            el: '#app',
            created() {
                this.isUserVerifier().then(val => this.properties.isVerifier = val)
            },
            data: {
                Eth: Eth,
                ethereum: eth,
                ethtags: contract,
                faqDialog: false,
                aboutDialog: false,
                myDogtagDialog: false,
                inspectDogtagDialog: false,
                verificationDialog: false,
                dogtagSearchAddress: null,
                faqData: [{
                    question: "Is this faq complete?",
                    answer: "No, not at all."
                },
                {
                    question: "What is an ethereum smart contract?",
                    answer: "Code that runs in the ehereum network. It can store data or perform calculations."
                }],
                myDogtag: {
                    name: '',
                    bio: '',
                    verified: '',
                    address: '',
                    isBeingUpdated: false,
                    review: false,
                    donateAmount: 0,
                    hadError: false,
                    bgColor: '#EEEEEE',
                    textColor: '#000000',
                    displayQR: true
                },
                dogtagPreview: {
                    name: '',
                    bio: '',
                    isVerified: '',
                    active: false
                },
                verification: {
                    active: false,
                    inProcess: false,
                    step: 0,
                    result: false,
                    address: '',
                    name: '',
                    bio: ''
                },
                properties: {
                    isVerifier: false
                }
            },
            methods: {
                openPreview() {
                    window.open(this.getLinkToDogtag, '_blank');
                },
                openGit() {
                    window.open('https://github.com/jtomes123/ethtags', '_blank');
                },
                openMetamask() {
                    window.open('https://metamask.io', '_blank');
                },
                isAddress(val) {
                    if (val && !Eth.isAddress(val)) {
                        return 'This is not a valid ethereum address.'
                    } else {
                        return true
                    }
                },
                async verificationFetchData() {
                    this.verification.name = ''
                    this.verification.bio = ''
                    this.verification.isVerified = false
                    if (Eth.isAddress(this.verification.address)) {
                        console.log('requesting...')
                        const name = await this.ethtags.GetDogtagName(this.verification.address)
                        const bio = await this.ethtags.GetDogtagContent(this.verification.address)
                        const isVerified = await this.ethtags.IsVerified(this.verification.address)

                        this.verification.name = name[0]
                        this.verification.bio = bio[0]
                        this.verification.isVerified = isVerified[0]

                        this.verification.step = 2
                    }
                },
                async verificationVerify() {
                    try {
                        const addresses = await this.ethereum.accounts()

                        if (Eth.isAddress(this.verification.address) && addresses[0]) {
                            this.verification.inProcess = true

                            const result = await this.ethtags.SetVerificationStatus(this.verification.address,
                                true, {
                                    from: addresses[0]
                                });

                            this.verification.inProcess = false
                            this.verification.step = 3
                            this.verification.result = true
                        }
                    } catch (e) {
                        console.log(e)
                        this.verification.inProcess = false
                        this.verification.step = 3
                        this.verification.result = false
                    }

                },
                verificationClose() {
                    this.verification = {
                        active: false,
                        inProcess: false,
                        step: 0,
                        result: false,
                        address: '',
                        name: '',
                        bio: ''
                    }
                },
                async updateMyDogtag() {
                    const addresses = await this.ethereum.accounts()
                    console.log(addresses)
                    if (addresses[0]) {
                        const name = await this.ethtags.GetDogtagName(addresses[0])
                        const bio = await this.ethtags.GetDogtagContent(addresses[0])
                        const isVerified = await this.ethtags.IsVerified(addresses[0])

                        this.myDogtag.name = name[0]
                        this.myDogtag.bio = bio[0]
                        this.myDogtag.isVerified = isVerified[0]
                        this.myDogtag.hadError = false
                        this.myDogtag.address = addresses[0]
                    }
                },
                async sendDogtagToBlockchain() {
                    const addresses = await this.ethereum.accounts()

                    if (addresses[0]) {
                        try {
                            this.myDogtag.isBeingUpdated = true

                            const name = await this.ethtags.GetDogtagName(addresses[0])
                            const bio = await this.ethtags.GetDogtagContent(addresses[0])
                            const isVerified = await this.ethtags.IsVerified(addresses[0])

                            var data = {
                                from: addresses[0],
                                value: Eth.toWei(this.myDogtag.donateAmount, 'ether')
                            }

                            if (this.myDogtag.name != name[0] && this.myDogtag.bio != bio[0]) {
                                await this.ethtags.SetDogtag(this.myDogtag.name, this.myDogtag.bio, data)
                            } else if (this.myDogtag.name != name[0]) {
                                await this.ethtags.SetDogtagName(this.myDogtag.name, data)
                            } else if (this.myDogtag.bio != bio[0]) {
                                await this.ethtags.SetDogtagContent(this.myDogtag.bio, data)
                            }

                            this.myDogtag.isBeingUpdated = false
                            this.myDogtag.review = false
                            this.myDogtag.donateAmount = 0
                            this.myDogtag.hadError = false
                        } catch (e) {
                            console.log(e)
                            this.myDogtag.isBeingUpdated = false
                            this.myDogtag.review = false
                            this.myDogtag.donateAmount = 0
                            this.myDogtag.hadError = true
                        }

                    }
                },
                async searchForAddress() {
                    this.dogtagPreview.name = ''
                    this.dogtagPreview.bio = ''
                    this.dogtagPreview.isVerified = false
                    if (Eth.isAddress(this.dogtagSearchAddress)) {
                        console.log('requesting...')
                        const name = await this.ethtags.GetDogtagName(this.dogtagSearchAddress)
                        const bio = await this.ethtags.GetDogtagContent(this.dogtagSearchAddress)
                        const isVerified = await this.ethtags.IsVerified(this.dogtagSearchAddress)

                        this.dogtagPreview.name = name[0]
                        this.dogtagPreview.bio = bio[0]
                        this.dogtagPreview.isVerified = isVerified[0]

                        this.dogtagPreview.active = true
                    }
                },
                async isUserVerifier() {
                    const addresses = await this.ethereum.accounts()

                    if (addresses[0] && this.ethtags) {
                        const result = await this.ethtags.IsVerifier(addresses[0])
                        return result[0]
                    } else {
                        return false
                    }
                }
            },
            computed: {
                getIframe() {
                    return '<iframe href="' + this.getLinkToDogtag + '">'
                },
                getLinkToDogtag() {
                    const url = new URL('http://ethtags-vue.herokuapp.com/iframe.html')
                    url.searchParams.append('adr', this.myDogtag.address)
                    url.searchParams.append('bgc', (this.myDogtag.bgColor + '').replace('#', ''))
                    url.searchParams.append('txc', (this.myDogtag.textColor + '').replace('#', ''))
                    url.searchParams.append('hqr', !this.myDogtag.displayQR)

                    return url + ''
                }
            },
            components: {

            },
        })
    </script>
    <style>
        .flex-centered,
        .flex-centered-80 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 1rem;
        }
        .flex-inline-50 {
            width: 95%;
        }
        .flex-centered-80 {
            max-width: 95%;
            width: 95%;
        }
        @media only screen and (min-width: 600px) {
            .flex-inline-50 {
                width: 50%;
            }
            .flex-centered-80 {
                max-width: 95%;
                width: 95%;
            }
        }



        .flex-inline,
        .flex-inline-50 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            padding: 1rem;
        }
        input[type="color"] {
            opacity: 0;
            width: 100%;
            height: 100%;
        }
        .colorswatch {
            border-radius: 10pt;
            border-color: black;
            border-width: 0.1rem;
            width: 2rem;
            height: 2rem;
        }
        .swatch-checkbox {
            -webkit-appearance: none;
            background-color: #fafafa;
            border: 1px solid #cacece;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
            padding: 9px;
            border-radius: 3px;
            display: inline-block;
            position: relative;
            width: 2rem;
            height: 2rem;
        }

        .swatch-checkbox:checked {
            background-color: aquamarine;
        }

        .swatch-checkbox:active,
        .swatch-checkbox:checked:active {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
        }

        .margin-1rem {
            margin: 1rem;
        }
        code,
        pre,
        samp {
            white-space: pre-wrap;
            overflow-wrap: break-word;
            max-width: 95%;
        }
    </style>
</body>

</html>